<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<!-- CSS -->
		<link rel="stylesheet" href="/css/style.css" />
		<title>ChatApp</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1>ChatApp</h1>
			</header>
			<main class="join-main">
				<form method="POST" action="/">
					<fieldset id="register" style="display: none;">
						<legend>Register</legend>
						<a href="#">Login</a>
						<div class="form-control">
							<label for="firstname">Firstname</label>
							<input type="text" name="firstname" id="firstname" placeholder="Enter Firstname" required />
							<label for="lastname">Lastname</label>
							<input type="text" name="lastname" id="lastname" placeholder="Enter Lastname" required />
							<label for="username">Username</label>
							<input type="text" name="username" id="reg-username" placeholder="Enter Username" required />
							<label for="email">Email</label>
							<input type="email" name="email" id="email" placeholder="Enter Email" required />
							<div>
								<label for="password">Password</label>
								<div class="safetyWrap">
									<span>Safety</span>
									<div class="lev">
										<div></div>
										<div></div>
									</div>
									<span></span>
								</div>
							</div>
							<input type="password" name="password" id="reg-password" placeholder="Enter Password" required />
							<label for="repassword">Confirmation</label>
							<input type="password" name="repassword" id="repassword" placeholder="Confirm Password" required />
						</div>
						<button type="submit" class="btn" id="register-btn">Join Chat</button>
					</fieldset>
					<fieldset id="login">
						<legend>Login</legend>
						<a href="#">Register</a>
						<div class="form-control">
							<label for="username">Username</label>
							<input type="text" name="username" id="log-username" placeholder="Enter Username" required />
							<label for="password">Password</label>
							<input type="password" name="password" id="log-password" placeholder="Enter Password" required />
						</div>
						<button type="submit" class="btn" id="login-btn">Select Room</button>
					</fieldset>
				</form>
			</main>
		</div>
		<script>
/* ************************************************************ EVENTS ******************************************************* */
			const lev = document.querySelector('.lev');
			// regular expressions for password strength
			const strongStrength = new RegExp('^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})', 'g');
			const mediumStrength = new RegExp('^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})', 'g');
			const lowStrength = new RegExp('^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{4,})', 'g');
			const noStrength = new RegExp('^(?=.*[a-z])(?=.*[A-Z])|(?=.*[0-9])(?=.{2,})', 'g');
			
			// password safety
			password.addEventListener('input', e => {
				e.preventDefault;
				console.log(e.target.value);
				// check strength of password
				if (strongStrength.test(e.target.value)) {
					lev.previousElementSibling.style.display = "inline-block";
					lev.classList = "lev success";
					lev.nextElementSibling.classList = "success";
					lev.nextElementSibling.innerText = "100%";
					lev.lastElementChild.classList = "lev100 success";
				} else if (mediumStrength.test(e.target.value)) {
					lev.previousElementSibling.style.display = "inline-block";
					lev.classList = "lev success";
					lev.nextElementSibling.classList = "success";
					lev.nextElementSibling.innerText = "80%";
					lev.lastElementChild.classList = "lev80 success";
				} else if (mediumStrength.test(e.target.value)) {
					lev.previousElementSibling.style.display = "inline-block";
					lev.classList = "lev success";
					lev.nextElementSibling.classList = "success";
					lev.nextElementSibling.innerText = "60%";
					lev.lastElementChild.classList = "lev60 success";
				} else if (lowStrength.test(e.target.value)) {
					lev.previousElementSibling.style.display = "inline-block";
					lev.classList = "lev error";
					lev.nextElementSibling.classList = "error";
					lev.nextElementSibling.innerText = "40%";
					lev.lastElementChild.classList = "lev40 error";
				} else if (noStrength.test(e.target.value)) {
					lev.previousElementSibling.style.display = "inline-block";
					lev.classList = "lev error";
					lev.nextElementSibling.classList = "error";
					lev.nextElementSibling.innerText = "20%";
					lev.lastElementChild.classList = "lev20 error";
				} else {
					lev.previousElementSibling.style.display = "inline-block";
					lev.classList = "lev error";
					lev.nextElementSibling.classList = "error";
					lev.nextElementSibling.innerText = "0%";
					lev.lastElementChild.classList = "lev0 error";
				};
			});


			// switch from register to login page
			document.querySelector('#register > a').addEventListener('click', e => {
				e.preventDefault();
				if(document.querySelector('#login').style.display === 'none') {
					document.querySelector('#login').style.display = 'block';
					e.target.parentElement.style.display = 'none';
				};
			});
			// switch from login to register page
			document.querySelector('#login > a').addEventListener('click', e => {
				e.preventDefault();
				if(document.querySelector('#register').style.display === 'none') {
					document.querySelector('#register').style.display = 'block';
					e.target.parentElement.style.display = 'none';
				};
			});

			// register user
			document.querySelector('#register-btn').addEventListener('click', e => {
				e.preventDefault()			
				// input data
				const firstName = document.querySelector('#firstname');
				const lastName = document.querySelector('#lastname');
				const userName = document.querySelector('#reg-username');
				const email = document.querySelector('#email');
				const password = document.querySelector('#reg-password');
				const repassword = document.querySelector('#repassword');
				// check if input data are filled
				if(firstName.value.trim() && lastName.value.trim() && userName.value.trim() && email.value.trim() && password.value && repassword.value) {
					if(password.value === repassword.value) {
						// user object with input data
						const USER = {
							firstname: firstName.value.trim(),
							lastname: lastName.value.trim(),
							username: userName.value.trim(),
							email: email.value.trim(),
							password: password.value,
							repassword: repassword.value
						};
						request('/', USER);
						// empty inputs
						firstName.value = '';
						lastName.value = '';
						userName.value = '';
						email.value = '';
						password.value = '';
						repassword.value = '';
					} else {
						alert("Passwords do not match");
					}
				} else {
					alert("Not all inputs are filled");
				};
			});

			// login user
			document.querySelector('#login-btn').addEventListener('click', e => {
				e.preventDefault()
				// input data
				const userName = document.querySelector('#log-username');
				const password = document.querySelector('#log-password');
				if(userName.value.trim() && password.value) {
					// user object with input data
					const USER = {
						username: userName.value.trim(),
						password: password.value
					};
					request('/', USER);
					// empty inputs
					userName.value = '';
					password.value = '';
				} else {
					alert("Not all inputs are filled");
				};
			});

/* ************************************************************ FUNCTION ******************************************************* */
			// post request to server
			function request(url, data) {
					fetch(url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
				}).then(response => {
					if(response.status === 200) {
						response.json().then(data => {
							// input alerts
							switch (data) {
								case 1:
									window.location = "/room";
									break;
								case 2:
									alert("The Email is already registered.");
									break;
								case 3:
									alert("You could't been found or your password is not correct.");
									break;
								case 4:
									alert("Server error!");
									break;
								case 5:
									alert("Missing entries!");
									break;
								case 6:
									alert("You are not verified yet.");
									break;
								default:
									alert("Server error!");
									break;
							};
						}).catch(err => {
							alert(err.message);
						});
					} else {
						alert("Server Error");
					};
				}).catch(err => {
					alert(err.message);
				});				
			};
		</script>
	</body>
</html>
