<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>ChatApp</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1>ChatApp</h1>
				<a href="/logout" class="btn">Log Out</a>
			</header>
			<main class="join-main">
				<div class="form-control">
					<label for="room">Room</label>
					<select name="room" id="room">
						<%for (let i = 0; i < rooms.length; i++){%>
						<option value="<%= rooms[i].room %>" idx="<%= rooms[i].ID %>"><%= rooms[i].room %></option>
						<%}%>
					</select>
				</div>
				<button type="submit" class="btn" id="joinChatBtn">Join Chat</button>
			</main>
        </div>
        <script>
            document.querySelector('#joinChatBtn').addEventListener('click', e => {
				e.preventDefault();
				// open chat of selected room
				const roomSelect = document.querySelector('#room');
				window.location = '/chat/' + roomSelect.options[roomSelect.selectedIndex].value + '/' + roomSelect.options[roomSelect.selectedIndex].getAttribute('idx');
            });
        </script>
	</body>
</html>
