@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	/*--dark-color-a: #667aff;*/
	--dark-color-a: #000000;
	/*--dark-color-b: #8a9aff;*/
	--dark-color-b: #632480;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	/*background: var(--light-color);*/
	background-color: black;
	color: var(--light-color);
	/*border-color: var(--dark-color-a);*/
	border: 2px solid var(--light-color);
	border-radius: 6px;
	font-size: 16px;
	height: 40px;
}

.btn:active {
	background: var(--light-color);
	color: black;
}

.btn:active {
	background: var(--light-color);
	color: black;
	border-inline-color: black;
}

fieldset {
	border: none;
	position: relative;
}

fieldset > legend {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

fieldset > a {
	position: absolute;
	top: -2.6rem;
	right: 0;
	color: white;
	text-decoration: underline;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	/* background-image: url(../images/grid.png); */
	background-repeat: no-repeat;
	background-color: black;
	background-size: 100%;
	border-radius: 10px;
}

.chat-header {
	/*background: var(--dark-color-a);*/
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header h2 {
	font-size: 18px;
	display: none;
}

nav {
	/*background: var(--dark-color-a);*/
	color: #fff;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

/*nav .btn {
	margin: 0 18px;
	position: relative;
}*/

nav > .btn:last-child {
	margin-right: 0;
}

nav > label {
	position: relative;
}

nav #image-upload {
	position: absolute;
	left: 0;
	width: 46px;
	display: none;
	overflow: hidden;
}

.image {
	max-width: 100%;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	max-height: 500px;
	/*background: var(--dark-color-a);*/
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 16px;
	font-weight: 100;
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0 10px 10px;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
	background-color: white;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	position: relative;
	/* display: flex; */
	padding: 20px 30px;
	/*background-color: var(--dark-color-a);*/
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type="text"] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border-color: var(--dark-color-a);
}

#chat-form > div{
	height: 40px;
	width: 100%;
	margin-right: 1rem;
}

#chat-form > div > input {
	border-radius: 6px;
}

.form-control #createRoomInput {
	margin: 0;
}

.form-control > input {
	margin-bottom: .8rem;
}

.form-control > label[for="password"] {
	float: left;
}

.form-control > div {
	display: flex;
	justify-content: space-between;
}

/* password safety */
.form-control > .pwd-safety-wrap {
	height: 16px;
	float: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-control > .pwd-safety-wrap > .lev {
	width: 60px;
	height: 16px;
	display: inline-block;
	position: relative;
}

.form-control > .pwd-safety-wrap > .lev > div:first-child {
	width: 60px;
	height: 16px;
	opacity: .5;
	position: absolute;
}

/* password safety level text */
.form-control > .pwd-safety-wrap > span:first-child {
	font-size: 14px;
	color: white;
	margin-right: 6px;
	display: none;
}

/* password safety level num */
.form-control > .pwd-safety-wrap > span:last-child {
	width: 40px;
	font-size: 14px;
	text-align: end;
}

/* password safety level num red */
.form-control > .pwd-safety-wrap > span.error {
	color: var(--error-color);
}

/* password safety level red*/
.form-control > .pwd-safety-wrap > .lev.error > div {
	background-color: var(--error-color);
}

.form-control > .pwd-safety-wrap > .lev > .lev20 {
	height: 16px;
	width: 12px;
	position: absolute;
}

.form-control > .pwd-safety-wrap > .lev > .lev40 {
	height: 16px;
	width: 24px;
	position: absolute;
}

/* password safety level num green*/
.form-control > .pwd-safety-wrap > span.success {
	color: var(--success-color);
}

/* password safety level green*/

.form-control > .pwd-safety-wrap > div.lev.success > div {
	background-color: var(--success-color);
}

.form-control > .pwd-safety-wrap > .lev > .lev60 {
	height: 16px;
	width: 36px;
	position: absolute;
}

.form-control > .pwd-safety-wrap > .lev > .lev80 {
	width: 48px;
	height: 16px;
	position: absolute;
}

.form-control > .pwd-safety-wrap > .lev > .lev100 {
	height: 16px;
	width: 60px;
	position: absolute;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	/* background-image: url(../images/grid.png); */
	background-color: black;
	background-repeat: no-repeat;
	background-size: 240%;
	background-position-x: right;
	border-radius: 10px;
}

.join-header {
	text-align: center;
	padding: 20px;
	/*background: var(--dark-color-a);*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
}

.join-header > button {
	position: absolute;
	top: 20px;
	right: 20px;
}

.join-main {
	padding: 30px 40px;
	/*background: var(--dark-color-a);*/
}

.join-main p {
	margin-bottom: 20px;
}

.joinFnav-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	float: left;
}

.join-main input[type='text'],
.join-main input[type='password'],
.join-main input[type='email'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border-radius: 6px;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border-radius: 6px;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	html {
		height: calc(var(--vh, 1vh) * 100);
	}

	body {
		/* background-image: url(../images/grid.png); */
		background-color: black;
		background-repeat: no-repeat;
		background-size: 320%;
		margin: 0;
	}

	.btn {
		height: 30px;
		padding: 3px 9px;
		font-size: 12px;
	}
  
	.btn.menu#up {
		bottom: 0;
	}

	label {
		font-size: 12px;
	}

	.chat-container {
		margin: auto;
		border-radius: 0;
		height: 100%;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		background-size: 240%;
	}

	.chat-main {
		display: block;
	}

	.chat-header h2.room-name {
		font-size: 12px;
		font-weight: bold;
		display: block;
	}

	.chat-header .btn {
		display: none;
	}

	.chat-header .btn.menu {
		display: block !important;
	}
	
	.chat-sidebar {
		display: none;
	}

	.chat-messages {
		min-height: calc(var(--vh, 1vh) * 100 - 70px - 70px);
		max-height: calc(var(--vh, 1vh) * 100 - 70px - 70px);
	}

	#chat-form svg{
		display: none;
	}

	.chat-form-container > nav {
		width: 100%;
		height: 100%;
		position: absolute;
		right: 0;
		bottom: -70px;
		padding: 20px 30px;
		background-color: black;
		z-index: 1;
		transition: bottom .5s ease-out;
	}

	.chat-form-container > nav#up {
		bottom: 0;
	}

	.chat-form-container > nav#down {
		bottom: -70px;
	}

	.chat-form-container > nav > button:last-child {
		display: block !important;
	}

	.chat-form-container input[type="text"] {
		font-size: 12px;
		height: 32px;
	}

	button#login-btn.btn,
	button#joinSelectedRoom.btn {
		margin-top: 20px;
	}

	select#roomSelector {
		height: 30px;
		font-size: 12px;
	}

	.join-container {
		background-image: none;
	}

	.join-main input[type='text'],
	.join-main input[type='password'],
	.join-main input[type='email'] {
		font-size: 12px;
		padding: 5px;
		height: 30px;
	}

	/* password safety */
	.form-control > .pwd-safety-wrap {
		height: 12px;
	}

	.form-control > .pwd-safety-wrap > .lev {
		height: 12px;
	}

	.form-control > .pwd-safety-wrap > div.lev > div:first-child,
	.form-control > .pwd-safety-wrap > div.lev > div:last-child {
		height: 12px;
	}
	
	/* password safety level num */
	.form-control > .pwd-safety-wrap > span:last-child {
		font-size: 10px;
		width: 28px;
	}
	
	/* password safety level text */
	.form-control > .pwd-safety-wrap > span:first-child {
		font-size: 10px;
	}
}